.container {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-self: center;

  .songListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
