* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Roboto", sans-serif;

  background: rgb(17, 196, 235);
  background: -moz-linear-gradient(
    180deg,
    rgba(17, 196, 235, 1) 0%,
    rgba(255, 155, 102, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(17, 196, 235, 1) 0%,
    rgba(255, 155, 102, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(17, 196, 235, 1) 0%,
    rgba(255, 155, 102, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#11c4eb",endColorstr="#ff9b66",GradientType=1);
}
