.button {
    width: 180px;
    height: 60px;

    display: flex;
    align-items: center;
  
    font-size: 24px;
    font-weight: bold;
  
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    border-radius: 12px;
  
    border: none;
  }
.logo{
    width: 60%;
    height: 60%;
}

  