.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
  
    .imgContainer {
      text-align: center;
      margin-bottom: 200px;
      margin-top: 20px;
  
      & img {
        width: 50%;
        height: auto;
      }
    }
  
    .buttonContainer {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-top: 200px;
    }


    .inputContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
    }

    .divContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;
     background-color: #5046463d;

     & div {
      width: 180px;
      height: 100px;
      padding: 20px;
      border-radius: 12px;
      border: 1px solid #50464600;
     }
    }

    .h1Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
  
      color: rgb(234, 255, 0);
    }
}
  